<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.animation.animation">

    <application
        android:name=".application.AnimationApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ThemeAnimation">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.NormalViewAnimationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.FlickerViewActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.RotateViewActivity"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".activity.SpecialViewAnimationActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.OverrideActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.FrameAnimationActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.Rotate3dViewActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.PropertyAnimationActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.SynthesizedAttributeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.CustomTypeEvaluatorActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.CustomPropertyNameActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.LayoutTransitionActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.KeyframeActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>